.container {
    margin: 5%;
    background: #bbdefb;
}

header {
    background-color: #278acc;
    margin-top: 5%;
    padding: 10px;
    max-width: 50rem;
    border-radius: 5px;
    height: auto;
}

.footer {
    background-color: #278acc;
    margin-top: 5%;
    padding: 10px;
    max-width: 50rem;
    border-radius: 5px;
    height: auto;
    text-align: center;
    line-height: auto;
}

hr {
    margin-inline-start: 0rem;
}

#credits, #mod-time {
    font-family: 'Roboto Condensed', sans-serif;
}

img {
    display: block;
    margin: auto;
}

h1 {
    font-size: 1.5rem;
    font-family: Lucida Handwriting;
    font-style: bold;
    margin: 0.15rem;
    color: #4e342e;
    text-align: center;
}

h2 {
    font-size: 1.2rem;
    margin: 0;
}

#mod-time, #last-time {
    font-size: 0.9rem;
}


.main-title {
    font-family: Trebuchet MS;
    margin: 0.3rem;
    text-align: center;
}

ul {
    margin: 0.5rem;
}

ul li {
    list-style: none;
    font-family: Lucida Console;
    font-size: 0.8rem;
    text-indent: 0;
}

#last-mod {
    color: #FFFFFF;
}