.container {
    margin: 5%;
    padding-left: 5%;
    background: #bbdefb;
}

.header {
    background-color: #278acc;
    margin-top: 5%;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    height: 75px;
}

.footer {
    background-color: #278acc;
    margin-top: 5%;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    height: 75px;
    text-align: center;
    line-height: 0.5;
}

hr {
    width: 75%;
    padding-left: 5%;
    padding-right: 0%;
    text-indent: 0;
    margin-left: 0%;
}

#credits, #mod-time {
    font-family: 'Roboto Condensed', sans-serif;
}

img {
    position: absolute;
    z-index: 0;
    width: 190px;
    left: 810px;
    top: 80px;
    border-radius: 1px;
}

h1 {
    font-size: 42px;
    font-family: Lucida Handwriting;
    font-style: bold;
    padding-left: 200px;
    margin-top: 15px;
    color: #4e342e;
}


.main-title {
    text-indent: 50px;
    font-family: Trebuchet MS;
    font-size: 25px;
}

ul li {
    list-style: none;
    font-family: Lucida Console;
    text-indent: 50px;
    font-size: 20px;
}

#last-mod {
    color: #FFFFFF;
}